body {
  background-color: #f2cd5c;
  text-align: center;
}
.me {
  margin-top: 30px;
  margin-left: 10px;
  align-content: center;
}
.name {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: xx-large;
  color: #a61f69;
  align-content: center;
}
.adress {
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
  color: #f2921d;
}
